:root {
  --food-light: #f0fcff;
  --food-primary: #00a8e8;
}


.bg-food-light { background-color: var(--food-light) !important; }
.text-food-primary { color: var(--food-primary) !important; }
.bg-food-primary { background-color: var(--food-primary) !important; }
